* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header*/
#presentation{
  display: block;
}

#presentation-container{
  margin:20px;
  padding:20px;
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#presentation h1{
  margin-bottom: 20px;
}

/*Testimonial Section*/

#shopify-section-testimonials{
  padding:25px 0px 25px 0px;
  margin:0 auto;
}

.section-name{
  text-align: center;
}

.testimonial-img-container img {
    border-radius: 50%;
    max-width: 100%;
}

.testimonial-img-container{
  width: 30%;
}
.testimonial-quote-container{
  width: 70%;
  padding-left: 10px;
}
.testimonial-quote-container blockquote, .testimonial-quote-container cite {
  padding-bottom: 10px;
}
.testimonial-quote-container cite p{
  font-weight: bold;
}

.testimonial-container{
  padding: 25px;
}

.testimonial-card{
  display:flex!important;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
  margin-bottom:25px;
}


